//Colors used
$color-base: #fff;
$color-dark: #000;
$color-primary-bg: #202529;
$color-button-primary: #fcd088;
$color-button-hover: #333;
$color-footer-text: #a3aaaa;
$color-overlay-bg:  #252e35;

// Media Query Breakpoints
$tablet-sm-width: 'screen and (min-width: 768px)';
$desktop-sm-width: 'screen and (min-width: 1024px)';
